*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}
a{
    color: rgb(47, 49, 47);
}
a:hover{
    transform: scale(1.2);
}  
/* !NAVBAR */

.navbar {
    max-width: 1000px;
    padding-top: 3rem;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    display: flex;
    flex: 0 0 auto;
}
.navbar-links ul {
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}
.logo-con{
  min-width: 250px;
  width: 35%;
}
.logo{
    padding-left: 0.7rem ;
    padding-right: 0.5rem;
    margin-right: 1rem;
    width: 80%;
    cursor: pointer;
}
 
@media (max-width: 800px) {
    .navbar {
        align-items: flex-start;
        flex-direction: column;
    } 
    .navbar-links  {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .menu-btn{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
 
}
/* ANIMATION */
.menu-btn {
    position: absolute;
    right: 0rem; 
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    display: none;
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: rgb(47, 49, 47);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(29, 27, 27, 0.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: rgb(47, 49, 47);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(29, 27, 27, 0.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  } 

/** Slider*/

.slider{
    max-width: 1000px;
    margin: auto;
}

/* .navbar{
    margin-top: 3rem;
    animation: fadeIn 500ms normal;
}
.nav-menu{
    z-index: 1 !important;
}

.navbar ul{
    display: flex;
    font-weight: 500;
}

.navbar a {
    margin: clamp(0.2rem, 1rem, 1rem);
    font-size: clamp(12px, 2vw, 1.1rem); 
    font-weight: 500;
    color: rgb(47, 49, 47);
}
.navbar .flex {
    justify-content: space-between;
}
.burger{
    display: none !important;
    cursor: pointer;
}

.burger .line-1,
.burger .line-2,
.burger .line-3 {
    width: 24px;
    height: 3px;
    background-color: rgb(123, 128, 123);
}
.burger .line-2{
    margin: 3px 0;
}
z

.nav-active{
    transform: translateX(100%);
    display: none !important;
}

*Slider 
 

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 20vw;
    color: #FFA500;
    background-colorback: rgba(47, 49, 47, 0.5);;
    right: 0;
    bottom: 50%;
    font-size: 4vw; 
    font-weight: bold;
    line-height: 5rem;
    border-radius: 25vh;
}

.logo-con > h3{
    animation: fadeUp 800ms;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeUp {
    0%{
      opacity: 0;
      transform: translateY(40px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
   */