*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
body{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}
a{
    color: rgb(47, 49, 47);
    display: block;
    text-decoration: none;
}
.nav-link:hover{
    transform: scale(1.1);
}  
/* !NAVBAR */

.navbar {
    max-width: 1000px;
    padding-top: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-links {
    height: 100%;
    display: flex;
}
.navbar-links ul {
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.logo-con{
  width: 38%;
  animation: fadeIn 500ms;
}
.logo{
    width: 100%;
    cursor: pointer;
}
/* ANIMATION */
.menu-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 3rem;
    right: 2rem; 
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    display: none;
    animation: fadeIn 500ms;

  }
  .menu-btn__burger__top,
  .menu-btn__burger__bottom,
  .menu-btn__burger {
    width: 30px;
    height: 4px;
    background: rgb(81, 85, 81);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(29, 27, 27, 0.2);
    transition: all .5s ease-in-out;
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger__top {
    transform: rotate(45deg) translate(16px, -2px);
  }
  .menu-btn.open .menu-btn__burger__bottom {
    transform: rotate(-45deg) translate(16px, 2px);
  } 
  
 
@media (max-width: 800px) {
    .navbar {
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    } 
    .navbar-links  {
        display: none;
        width: 100%;
        animation: growDown 300ms ease-in-out forwards
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .menu-btn{
        display: flex !important;
    } 
    .logo-con{
      width: 38%;
      animation: fadeIn 500ms;
    }
    
}
/** Slider*/
.slider{
    max-width: 1000px;
    margin: auto;
}   
.slider-pic{
    border-radius: 20px;
    width: 100%;
}
.div-line{
    background-color: gray;
    height: 1px;
    width: 65%;
    margin: auto;
}
.div-line-main{
    background-color: gray;
    height: 1px;
    margin: 2rem auto ;;
    width: 50%;
}
/**Services*/
.services{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.services-banner{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}
.services-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.service{
    margin: 1rem auto;
    padding: 0.4rem;
}
.service-img{
    width: 100%;
    border-radius: 10px;
}
.service-img:hover{
    transform: scale(1.05);
}




@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeUp {
    0%{
      opacity: 0;
      transform: translateY(40px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(0)
    }
}
